<link rel="import" href="../../polymer/bower_components/polymer/polymer.html">
<link rel="import" href="../../polymer/bower_components/paper-material/paper-material.html">
<link rel="import" href="../../polymer/bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../polymer/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../polymer/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../polymer/bower_components/iron-pages/iron-pages.html">

<dom-module id="library-area">

	<style>
		
		:host
		{
			width: 100%;
		}
				
		#heading
		{
			height: 45px;
			background-color: #4054B2;
			color: white;
		}
		
		#mainContent
		{
			background-color: white;
			z-index: 2;
		}
		
		iron-pages
		{
			overflow: scroll;
			min-height:40px;
			max-height: 350px;
		}
		
		::content .listDelimiter
		{
			display: block;
			font-weight: 200;
			padding: 10px; 
			background-color: #f9f9ff;
		}
		
		::content .listDelimiter p
		{
			font-size: 1.3rem;
			color: black;
			cursor: help;
		}
		
		::content .listDelimiter span
		{
			font-size: 0.7rem;
			color: grey;
		}
				
	</style>

	<template>
  
		<paper-material id="wrapper"
						animated="true"
						elevation="1"
						class="layout vertical"
						on-mouseover='mouseOver'
						on-mouseout="mouseOut">
        
	  	<span id="heading" class="layout horizontal center-center">
	  		<div class="flex layout horizontal center-center">{{name}}</div>
	  	</span>
  
      	<span id="mainContent" class="flex">
      		<paper-tabs selected="{{selected}}">
	  			<paper-tab>Fixture</paper-tab>
	  			<paper-tab>Modality</paper-tab>
	  			<paper-tab>Context</paper-tab>
	  			<paper-tab>Control</paper-tab>
	  		</paper-tabs>

	  		<iron-pages selected="{{selected}}">
	  			<div><content select=".fixtures"></content></div>
	  			<div><content select=".modalities"></content></div>
	  			<div><content select=".contexts"></content></div>
	  			<div><content select=".controls"></content></div>
	  		</iron-pages>
	  	</span>
      	  
      </paper-material>
    
	</template>
  
	<script>
  
		Polymer(
		{
	    	is: "library-area",
			properties: {
	        name:
	        	{
					type: String,
					value: "Library"
	        	},
	        selected:
	        	{
	        		type: Number,
	        		value: 0
	        	}
	      	},
	      	mouseOver: function() {
	        	this.$.wrapper.setAttribute("elevation", "2");
	      	},
	      	mouseOut: function() {
	        	this.$.wrapper.setAttribute("elevation", "1");
	      	}	
	    });

	</script>

</dom-module>
